@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-text: #7a7575;
    --color-error: #980000;
    --color-paper: #232323;
    --color-primary: #009688;
    --color-background: hwb(166 73% 7%);
    --color-primary-contrast: #ffffff;
}

html,
body {
    @apply bg-background text-text w-screen h-screen underline-offset-4;

}

a {
    @apply hover:underline active:opacity-50 transition-opacity
}